 .circulo {
    width: 100px;
    height: 100px;
    background-color:gray;
    border-radius:50%;
  }

  .red{
    margin-top: 10px;
    background-color: red;
  }
  .yellow{
    margin-top: 10px;
    background-color: yellow;
  }
  .green{
    margin-top: 10px;
    background-color: green;                  
  }

  .traffic-light {
    width: 120px;
    height: 350px;
  }

  .traffic-top {
    width: 50px;
    height: 200px;
    margin-top: 20px;
  }

  .glow {
    box-shadow: 0 0 20px 5px white;
  }
